<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>Quotes</title>
</head>

<body>
    <div class="container p-2">
        <div class="container border rounded-pill p-4">
            <h1 class="text-center">Here are the awesome quotes!</h1>
            <% for(var quote of quotes) { %>
                <span>"<%=quote.quote%>"</span>
                <span class="ml-5 d-block">-<%=quote.quoted_by%> at <%=moment(quote.createdAt).format('HH:mm a MMMM DD YYYY')%></span>
            <% }%>
            
        </div>
    </div>
</body>

</html>