<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>Here are all the users:</h2>
    <% for (var user of users) { %>
    <h3>Name: <%= user.name %></h3>
    <h4>Email: <%= user.email %></h4>
    <hr>
    <% } %>
</body>

</html>