<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Result</title>
</head>

<body>
    <div class="container">
        <div class="container col-8  mt-5 border p-3">
            <h4>Submitted Information</h4>
            <p>Name:
                <%=result.name%>
            </p>
            <p>Dojo Location:
                <%=result.dojo%>
            </p>
            <p>Favorite Language:
                <%=result.lang%>
            </p>
            <p>Comment:
                <%=result.comment%>
            </p>
        </div>
    </div>
</body>

</html>