<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>Home</title>
    <script>
        $(document).ready(function() {
            const roomsContainer = document.getElementById('rooms-container');
            var socket = io(); //1

            socket.on('room_created', function(room) {
                var htmlStr = `<div class="col-4 mt-2">
                                    <div class="card">
                                        <div class="card-header text-center bg-info text-white">
                                            ${room}
                                        </div>
                                        <div class="card-body">
                                            <a href="/${room}" class="btn btn-primary d-block">Join</a>
                                        </div>
                                    </div>
                                </div>`
                $('#rooms-container').append(htmlStr)
            })
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="container">
            <h1 class="text-center">Groupchat Lobby</h1>
            <form action="/room" method="POST">
                <input type="text" class="form-control col-4 d-inline-block m-0" name="room" placeholder="Room name..">
                <button type="submit" class="btn btn-primary m-0">Create a groupchat</button>
            </form>
            <h3 class="mt-4">Rooms:</h3>
            <div id="rooms-container" class="row">
                <% Object.keys(rooms).forEach(room => { %>
                    <div class="col-4 mt-2">
                        <div class="card">
                            <div class="card-header text-center bg-info text-white">
                                <%= room %>
                            </div>
                            <div class="card-body">
                                <a href="/<%=room%>" class="btn btn-primary d-block">Join</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
</body>

</html>