<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cats</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Cats</h1>
        <div class="row">
            <div class="container col-6 mt-3">
                <img class="img-thumbnail" style="height: 200px; width: 400px;" src="./images/cat1.jpg" alt="">
            </div>
            <div class="container col-6 mt-3">
                <img class="img-thumbnail" style="height: 200px; width: 400px;" src="/images/cat2.jpg" alt="">
            </div>
            <div class="container col-6 mt-3">
                <img class="img-thumbnail" style="height: 200px; width: 400px;" src="/images/cat4.jpg" alt="">
            </div>
            <div class="container col-6 mt-3">
                <img class="img-thumbnail" style="height: 200px; width: 400px;" src="/images/cat5.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>